{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["eslint-plugin-import-helpers"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": ["module", "/^@shared/", ["parent", "sibling", "index"]],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
